* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.inner-wrap {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 25px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cae6fa;
    width: 100%;
    height: 60px;
}

header > .header-name {
    color: white;
    font-weight: bold;
    font-size: 28px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 220px;
    height: 300px;
    border: 1px solid black;
    margin: 25px 70px;
}

.item img{
    object-fit: cover;
    width: 215px;
    height: 210px;
}

.item input {
    display: block;
}

.item-box {
    display: flex;
    flex-wrap: wrap;
}

footer{
    background-color: #cae6fa;
    width: 100%;
    height: 60px;
    margin-top: 100px;
}

.price {
    width: 1440px;
    position: fixed;
    bottom: 20px;
    height: 75px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

#total-amount {
    margin-left: 30px;
}

#total-price {
    margin-left: 60px;
} 

#total-amount, #count, #total-price {
    font-weight: bold;
    font-size: 20px;
}

.name-box {
    display: flex;
}

