@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.inner-wrap {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cae6fa;
    width: 100%;
    height: 60px;
}

header > .header-name {
    font-family: 'BMJUA';
    color: white;
    font-size: 36px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 220px;
    height: 300px;
    border: 1px solid rgb(158, 156, 156);
    margin: 25px 70px;
}

.item img{
    margin-bottom: 6px;
    object-fit: cover;
    width: 215px;
    height: 210px;
}

.item-name {
    font-weight: bold;
    font-size: 15px;
    color: #3f3f3f;
}

.item-box {
    display: flex;
    flex-wrap: wrap;
}

.name-box {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 19px;
}

footer{
    background-color: #cae6fa;
    width: 100%;
    height: 60px;
    margin-top: 100px;
}

.price {
    width: 1440px;
    position: fixed;
    bottom: 20px;
    height: 75px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#total {
    font-weight: bold;
    font-size: 20px;
    display: flex;

}

#total #total-price {
    margin-left: 30px;
}

.name-box {
    display: flex;
} 

#reload {
    border: 0;
    width: 120px;
    height: 40px;
    background-color: #1a5eef;
    color: white;
    box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
}